# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html#_mapping_authors
Tomas (t0m) Doran <bobtfish@bobtfish.net> Tomas Doran
Tomas (t0m) Doran <bobtfish@bobtfish.net> <t0m@state51.co.uk>
